# Die Datenbank darf unter keinen Umständen über den Webserver erreichbar sein.

<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
</IfModule>
